<ul id="sidebar">  
  <li class="menu">
    Notícias
    <ul class="submenu">
      <li class="item">
        <%= link_to "Adicionar", new_admin_news_path %>
      </li>
      <li class="item">
        <%= link_to "Editar / Remover", admin_news_index_path %>
      </li>
    </ul>
  </li>
  
  <li class="menu">
    Arquivos
    <ul class="submenu">
      <li class="item">
        <%= link_to "Editar / Remover", admin_user_files_path %>
      </li>
      <li class="item">
        <%= link_to "Denúncias", admin_user_file_reports_path %>
      </li>
    </ul>
  </li>
  
  <li class="menu">
    Comentários
    <ul class="submenu">
      <li class="item">
        <%= link_to "Editar / Remover", admin_comments_path %>
      </li>
    </ul>
  </li>
  
  <li class="menu">
    downBOX
    <ul class="submenu">
      <li class="item">
        <%= link_to "Adicionar" %>
      </li>
      <li class="item">
        <%= link_to "Editar / Remover" %>
      </li>
    </ul>
  </li>
  
  <li class="menu">
    Usuários
    <ul class="submenu">
      <li class="item">
        <%= link_to "Editar / Remover", admin_users_path %>
      </li>
    </ul>
  </li>
  
  <li class="menu">
    Administradores
    <ul class="submenu">
      <li class="item">
        <%= link_to "Adicionar" %>
      </li>
      <li class="item">
        <%= link_to "Editar / Remover" %>
      </li>
    </ul>
  </li>
</ul>
