<div class="section" id="smshare-menu">
  <p class="title">sm<span class="special-s"><span>S</span></span>hare</p>
  <ul>
    <li class="<%= yield(:page) == "main" ? "active" : "" %>">
      <%= link_to "Página principal", root_path %>
    </li>

    <li class="<%= yield(:page) == "news" ? "active" : "" %>">
      <%= link_to "Notícias", news_index_path %>
    </li>

    <li class="<%= yield(:page) == "twitter" ? "active" : "" %>">
      <%= link_to "Twitter", "http://www.twitter.com/smsharing" %>
    </li>

    <li class="<%= yield(:page) == "rss" ? "active" : "" %>">
      <%= link_to "Feed RSS", feeds_path %>
    </li>

    <li class="<%= yield(:page) == "report" ? "active" : "" %>">
      <%= link_to "Denunciar abuso", report_abuse_index_path %>
    </li>
  </ul>
</div>

<div class="section" id="webmasters-menu">
  <p class="title">Webmasters</p>
  <ul>
    <li class="<%= yield(:page) == "send_files" ? "active" : "" %>">
      <%= link_to "Envie seus arquivos", new_user_file_path %>
    </li>

    <li class="<%= yield(:page) == "manage_files" ? "active" : "" %>">
      <%= link_to "Organize seus documentos", manage_user_panel_path %>
    </li>

    <li class="<%= yield(:page) == "share_files" ? "active" : "" %>">
      <%= link_to "Compartilhe seus arquivos", customize_user_panel_path %>
    </li>

    <li class="<%= yield(:page) == "earn_money" ? "active" : "" %>">
      <%= link_to "Lucre com os downloads $$", user_panel_reports_path %>
    </li>

    <li class="<%= yield(:page) == "advantages" ? "active" : "" %>">
      <%= link_to "Tenha vantagens" %>
    </li>
  </ul>
</div>

<div class="section" id="smsearch-menu">
  <p class="title">sm<span class="special-s"><span>S</span></span>earch</p>
  <ul>
    <li class="<%= yield(:page) == "search_files" and !params[:order] ? "active" : "" %>">
      <%= link_to "Procurar arquivos", search_index_path %>
    </li>

    <li class="<%= params[:order] == "created_at" ? "active" : "" %>">
      <%= link_to "Arquivos mais recentes", search_index_path(:order => 'created_at', :q => params[:q], :filter => params[:filter]) %>
    </li>

    <li class="<%= params[:order] == "downloads_count" ? "active" : "" %>">
      <%= link_to "Arquivos mais baixados", search_index_path(:order => 'downloads_count', :q => params[:q], :filter => params[:filter]) %>
    </li>

    <li class="<%= params[:order] == "comments_count" ? "active" : "" %>">
      <%= link_to "Arquivos mais comentados", search_index_path(:order => 'comments_count', :q => params[:q], :filter => params[:filter]) %>
    </li>

    <li class="<%= params[:order] == "rate" ? "active" : "" %>">
      <%= link_to "Arquivos favoritos", search_index_path(:order => 'rate', :q => params[:q], :filter => params[:filter]) %>
    </li>
  </ul>
</div>

<div class="section" id="about-menu">
  <p class="title">Sobre</p>
  <ul>
    <li class="<%= yield(:page) == "guide" ? "active" : "" %>">
      <%= link_to "Guia geral", guide_index_path %>
    </li>

    <li class="<%= yield(:page) == "faq" ? "active" : "" %>">
      <%= link_to "Perguntas frequentes (FAQ)", faq_index_path %>
    </li>

    <!--<li class="<%= yield(:page) == "tutorials" ? "active" : "" %>">
        <%= link_to "Ajuda/Tutoriais" %>
    </li>-->
  </ul>
</div>

<div class="section" id="institutional-menu">
  <p class="title">Institucional</p>
  <ul>
    <!--<li class="<%= yield(:page) == "press" ? "active" : "" %>">
        <%= link_to "Imprensa" %>
    </li> -->

    <li class="<%= yield(:page) == "jobs" ? "active" : "" %>">
      <%= link_to "Trabalhe conosco", work_institutional_index_path %>
    </li>

    <li class="<%= yield(:page) == "about_us" ? "active" : "" %>">
      <%= link_to "A empresa", company_institutional_index_path %>
    </li>

    <li class="<%= yield(:page) == "contact" ? "active" : "" %>">
      <%= link_to "Fale Conosco", "mailto://contato@smshare.com.br" %>
    </li>
  </ul>
</div>
