<div class="section" id="smshare-menu">
  <p class="title">sm<span class="special-s"><span>S</span></span>hare</p>
  <ul>
    <li class="active"><%= link_to "Página principal", root_path %></li>
    <li><%= link_to "Notícias" %></li>
    <li><%= link_to "Twitter" %></li>
    <li><%= link_to "Feed RSS" %></li>
    <li><%= link_to "Denunciar abuso" %></li>
  </ul>
</div>

<div class="section" id="webmasters-menu">
  <p class="title">Webmasters</p>
  <ul>
    <li><%= link_to "Envie seus arquivos", new_user_file_path %></li>
    <li><%= link_to "Organize seus documentos" %></li>
    <li><%= link_to "Compartilhe seus arquivos" %></li>
    <li><%= link_to "Lucre com os downloads $$" %></li>
    <li><%= link_to "Tenha vantagens" %></li>
  </ul> 
</div>

<div class="section" id="smsearch-menu">
  <p class="title">sm<span class="special-s"><span>S</span></span>earch</p>
  <ul>
    <li><%= link_to "Procurar arquivos", search_path %></li>
    <li><%= link_to "Todas as categorias" %></li>
    <li><%= link_to "Arquivos mais baixados" %></li>
    <li><%= link_to "Arquivos mais comentados" %></li>
    <li><%= link_to "Arquivos favoritos" %></li>
  </ul>
</div>

<div class="section" id="about-menu">
  <p class="title">Sobre</p>
  <ul>
    <li><%= link_to "Guia geral" %></li>
    <li><%= link_to "Perguntas frequentes (FAQ)" %></li>
    <li><%= link_to "Ajuda/Tutoriais" %></li>
  </ul>
</div>

<div class="section" id="institutional-menu">
  <p class="title">Institucional</p>  
  <ul>
    <li><%= link_to "Imprensa" %></li>
    <li><%= link_to "Trabalhe conosco" %></li>
    <li><%= link_to "A empresa" %></li>
    <li><%= link_to "Fale Conosco" %></li>
  </ul>
</div>
  
