<ul id="header-menu">
  <li class="title active no-dropdown">
    <%= link_to "Principal", root_path %>
  </li>
    
  <li class="title dropdown">
    <span>Webmaster</span>
    <ul>
      <li><%= link_to "Envie seus arquivos", new_user_file_path %></li>
      <li><%= link_to "Organize seus documentos" %></li>
      <li><%= link_to "Compartilhe seus arquivos" %></li>
      <li><%= link_to "Lucre com os downloads $$" %></li>
      <li><%= link_to "Tenha vantagens" %></li>
    </ul>
  </li> 
   
  <li class="title dropdown">
    <span>smSearch</span>
    <ul>
      <li><%= link_to "Procurar arquivos" %></li>
      <li><%= link_to "Todas as categorias" %></li>
      <li><%= link_to "Arquivos mais baixados" %></li>
      <li><%= link_to "Arquivos mais comentados" %></li>
      <li><%= link_to "Arquivos favoritos" %></li>
    </ul>
  </li>
    
  <li class="title dropdown">
    <span>Sobre</span>
    <ul>
      <li><%= link_to "Guia geral" %></li>
      <li><%= link_to "Perguntas frequentes" %></li>
      <li><%= link_to "Ajuda / Tutoriais" %></li>
    </ul>
  </li>
</ul>