<ul id="header-menu">
  <%= link_to root_path do %>
  <li class="title main <%= yield(:tab) == "main" ? "active" : "" %>"></li>
  <% end %>

  <li class="title webmaster dropdown <%= yield(:tab) == "webmaster" ? "active" : "" %>">
    <ul>
      <li><%= link_to "Envie seus arquivos", new_user_file_path %></li>
      <li><%= link_to "Organize seus documentos", manage_user_panel_path %></li>
      <li><%= link_to "Compartilhe seus arquivos", customize_user_panel_path %></li>
      <li><%= link_to "Lucre com os downloads $$", user_panel_reports_path %></li>
      <li><%= link_to "Tenha vantagens" %></li>
    </ul>
  </li>

  <li class="title search dropdown <%= yield(:tab) == "search" ? "active" : "" %>">
    <ul>
      <li><%= link_to "Procurar arquivos", search_index_path %></li>
      <li><%= link_to "Arquivos mais recentes", search_index_path(:order => 'created_at', :q => params[:q], :filter => params[:filter]) %></li>
      <li><%= link_to "Arquivos mais baixados", search_index_path(:order => 'downloads_count', :q => params[:q], :filter => params[:filter]) %></li>
      <li><%= link_to "Arquivos mais comentados", search_index_path(:order => 'comments_count', :q => params[:q], :filter => params[:filter]) %></li>
      <li><%= link_to "Arquivos favoritos", search_index_path(:order => 'rate', :q => params[:q], :filter => params[:filter]) %></li>
    </ul>
  </li>

  <li class="title about dropdown <%= yield(:tab) == "about" ? "active" : "" %>">
    <ul>
      <li><%= link_to "Guia geral", guide_index_path %></li>
      <li><%= link_to "Perguntas frequentes", faq_index_path %></li>
      <li><%= link_to "Ajuda / Tutoriais" %></li>
    </ul>
  </li>
</ul>
