<ul id="header-menu">
  <% if @active_header_tab == :main %>
    <li class="title active no-dropdown">
  <% else %>
    <li class="title no-dropdown">
  <% end %>
    <%= link_to "Principal", root_path %>
  </li>
    
  <% if @active_header_tab == :webmaster %>
    <li class="title active dropdown">
  <% else %>
    <li class="title dropdown">
  <% end %>
    <span>Webmaster</span>
    <ul>
      <li><%= link_to "Envie seus arquivos", new_user_file_path %></li>
      <li><%= link_to "Organize seus documentos", manage_user_panel_path %></li>
      <li><%= link_to "Compartilhe seus arquivos" %></li>
      <li><%= link_to "Lucre com os downloads $$" %></li>
      <li><%= link_to "Tenha vantagens" %></li>
    </ul>
  </li> 
   
  <% if @active_header_tab == :search %>
    <li class="title active dropdown">
  <% else %>
    <li class="title dropdown">
  <% end %>
    <span>smSearch</span>
    <ul>
      <li><%= link_to "Procurar arquivos", search_path %></li>
      <li><%= link_to "Todas as categorias" %></li>
      <li><%= link_to "Arquivos mais baixados" %></li>
      <li><%= link_to "Arquivos mais comentados" %></li>
      <li><%= link_to "Arquivos favoritos" %></li>
    </ul>
  </li>
    
  <% if @active_header_tab == :about %>
    <li class="title active dropdown">
  <% else %>
    <li class="title dropdown">
  <% end %>
    <span>Sobre</span>
    <ul>
      <li><%= link_to "Guia geral", guide_index_path %></li>
      <li><%= link_to "Perguntas frequentes", general_faq_path %></li>
      <li><%= link_to "Ajuda / Tutoriais" %></li>
    </ul>
  </li>
</ul>
