<%# TODO Sidebar Hardcoded por enquanto %>
<ul id="sidebar">
  <li class="no-dropdown">
    <%= link_to "Página principal", root_path %>
  </li>
  
  <li class="menu <%= yield(:page).split('_')[1] == "files" ? "active" : "" %>">
    Meus arquivos
    <ul class="dropdown">
      <li class="<%= yield(:page) == "send_files" ? "active" : "" %>">
        <%= link_to "Enviar arquivos", new_user_file_path %>
      </li>
      <li class="<%= yield(:page) == "manage_files" ? "active" : "" %>">
        <%= link_to "Gerenciar arquivos", manage_user_panel_path %>
      </li>
      <li class="<%= yield(:page) == "verify_files" ? "active" : "" %>">
        <%= link_to "Verificar validade" %>
      </li>
    </ul>
  </li>
  
  <li class="menu <%= yield(:page).split('_')[1] == "statistics" ? "active" : "" %>">
    Relatórios
    <ul class="dropdown">
     <li class="<%= yield(:page) == "report_statistics" ? "active" : "" %>">
        <%= link_to "Relatório de ganhos" %>
      </li>
    </ul>
  </li>
  
  <li class="menu <%= yield(:page).split('_')[1] == "tools" ? "active" : "" %>">
    Ferramentas
    <ul class="dropdown">
      <li class="<%= yield(:page) == "download_box_tools" ? "active" : "" %>">
        <%= link_to "Caixas de download" %>
      </li>
      <li class="<%= yield(:page) == "press_tools" ? "active" : "" %>">
        <%= link_to "Peças publicitárias" %>
      </li>
    </ul>
  </li>
  
  <li class="menu <%= yield(:page).split('_')[1] == "data" ? "active" : "" %>">
    Dados da conta
  </li>
</ul>
