<%# TODO Sidebar Hardcoded por enquanto %>
<ul id="sidebar">
  <li class="no-dropdown">
    <%= link_to "Página principal", root_path %>
  </li>
  
  <% if @active[0] == :files %>
    <li class="menu active">
  <% else %>
    <li class="menu">
  <% end %>
    Meus arquivos
    <ul class="dropdown">
      <% if @active[1] == :new %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to "Enviar arquivos", new_user_file_path %>
      </li>
      <% if @active[1] == :manage %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to "Gerenciar arquivos", manage_user_panel_path %>
      </li>
      <% if @active[1] == :verify %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to "Verificar validade" %>
      </li>
    </ul>
  </li>
  
  <% if @active[0] == :reports %>
    <li class="menu active">
  <% else %>
    <li class="menu">
  <% end %>
    Relatórios
    <ul class="dropdown">
      <% if @active[1] == :report %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to "Relatório de ganhos", user_panel_reports_path %>
      </li>
    </ul>
  </li>
  
  <% if @active[0] == :tools %>
    <li class="menu active">
  <% else %>
    <li class="menu">
  <% end %>
    Ferramentas
    <ul class="dropdown">
      <% if @active[1] == :download_box %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to "Caixas de download" %>
      </li>
      <% if @active[1] == :press %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to "Peças publicitárias" %>
      </li>
    </ul>
  </li>
  
  <% if @active[0] == :data %>
    <li class="menu active">
  <% else %>
    <li class="menu">
  <% end %>
    Dados da conta
  </li>
</ul>
