<h2>Cadastro</h2>

<% semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <% f.inputs do %>
    <%= f.input :name, :label => "Seu nome completo:" %>
    <%= f.input :email, :label => "Seu e-mail (válido):" %>
    <%= f.input :nickname, :label => "Escolha um login:" %>
    <%= f.input :password, :label => "Escolha uma senha:" %>
    <%= f.input :password_confirmation, :label => "Confirme a senha:" %>
    <%= f.input :accepted_terms, :as => :boolean, :label => "Declaro que li e concordo com os Termos e Condições." %>
  <% end %>
  
  <% f.buttons do %>
    <%= f.commit_button "Confirmar" %>
  <% end %>

<% end %>