<div class="comment <%= comment_counter % 2 == 1 ? "odd" : "even" %>">
  <div class="header">
    <%= comment.created_at.strftime("%d/%m/%Y") %> |
    <% if comment.owner != nil %>
      <%= comment.owner.name %>
      <% if comment.owner == current_user %>
        | <span class="remove"><%= link_to "Remover", remove_comment_search_path(:comment => comment) %></span>
      <% end %>
    <% else %>
      Anônimo
    <% end %>
  </div>
  <div class="rate-stars">
    <% if comment['rate'] > 0 %>
      <%= image_tag("search/icone-nota-on.png") * comment['rate'] +
          image_tag("search/icone-nota-off.png") * (5 - comment['rate']) %>
    <% end %>
  </div>
  
  
  
  <p><%= comment.message %></p>
</div>
