<div id="search-result-<%= result._id %>" class="search-result">
  <div class="filetype">
      <div><%= image_tag result.resolve_filetype[:thumb] %></div>
      <span><%= result.file_extension %></span>
  </div>
  <h5 class="filename">
    <%= link_to result.alias, user_file_path(result, :q => params[:q], :filter => params[:filter], :order => params[:order]) %>
  </h5>
  <p class="owner">
    <span class="when">Há <%= distance_of_time_in_words_to_now(result.created_at) %></span>
    por
    <span class="user">
      <%= link_to result.owner.name, user_path(result.owner) %>
      <%= link_to image_tag("search/small_rss.png"), feed_path(result.owner), :class => "rss" %>
    </span>
  </p>
  <p class="description"><%= result.description %><br/></p>
  <p class="comments"><%= pluralize(result.statistics.comments, "comentário") %></p>
  <p class="rate"><%= "Nota %0.1f" % result.statistics.rate %></p>
  <p class="download">
    <span class="download-link"><%= link_to "Baixar Arquivo", user_file_path(result), :rel => "smshare" %></span>
    <span class="filesize"><%= filesize_for_stat(result.filesize) %></span>
  </p>
  <p class="statistics"><%= pluralize(result.statistics.downloads, "download") %></p>
</div>
