<% page "search_files" %>
<% tab "search" %>
<div id="search-container" class="container">

  <%= render :partial => 'layouts/search/ordering' %>
  <%= render :partial => 'layouts/search/header' %>
  <%= render :partial => 'layouts/search/categories' %>

  <div id="search-results">
    <% if params[:q].blank? %>
      <p class="search-info"></p>
    <% else %>
      <p class="search-info"><%= search_pagination_info @files, params[:q] %></p>
    <% end %>

    <% @files.each do |search_item| %>
      <%= render :partial => "result", :object => search_item %>
    <% end %>

    <%= will_paginate @files %>
  </div>
</div>
