<div id="search-header">
  <% form_tag search_path, :id => "header-search-form", :method => :get do %>
    <%= link_to "Insira nossa busca no Firefox", "", :id => "firefox-addon" %>

    <%= text_field_tag :q, "", :title => "O que está procurando...?", :class => "clear-on-focus" %>
    <%= submit_tag "Buscar", :id => "search-button" %>
  <% end %>
</div>

<div id="search-results">
  <% if params[:q].blank? %>
    <p class="search-info">Sua busca não pode ser vazia</p>
  <% else %>
    <p class="search-info"><%= search_pagination_info @files, params[:q] %></p>
  
    <%= render :partial => "result", :collection => @files %>
  
    <%= will_paginate @files %>  
  <% end %>
</div>