<div class="box big horizontal">
  <ol>
    <%= link_to params.merge(:boxes => (params[:boxes] || {}).merge({:big => 'a'})) do %>
      <li <%= "class=active" if @boxes[:big] == 'a' || @boxes[:big] == nil %> >a</li>
    <% end %>
    <%= link_to params.merge(:boxes => (params[:boxes] || {}).merge({:big => 'b'})) do %>
      <li <%= "class=active" if @boxes[:big] == 'b' %> >b</li>
    <% end %>
    <%= link_to params.merge(:boxes => (params[:boxes] || {}).merge({:big => 'c'})) do %>
      <li <%= "class=active" if @boxes[:big] == 'c' %> >c</li>
    <% end %>
  </ol>
  
  <div class="preview-container">
    <div class="preview"></div>
  </div>
  
  <div class="url-container">
    <div class="icon"></div> <%= text_field_tag :url %>
  </div>
  
  <span class="dimensions">768x90</span>
</div>

<div class="box medium horizontal">
  <ol>
    <%= link_to params.merge(:boxes => (params[:boxes] || {}).merge({:medium => 'a'})) do %>
      <li <%= "class=active" if @boxes[:medium] == 'a' || @boxes[:medium] == nil %> >a</li>
    <% end %>
    <%= link_to params.merge(:boxes => (params[:boxes] || {}).merge({:medium => 'b'})) do %>
      <li <%= "class=active" if @boxes[:medium] == 'b' %> >b</li>
    <% end %>
    <%= link_to params.merge(:boxes => (params[:boxes] || {}).merge({:medium => 'c'})) do %>
      <li <%= "class=active" if @boxes[:medium] == 'c' %> >c</li>
    <% end %>
  </ol>
  
  <div class="preview-container">
    <div class="preview"></div>
  </div>
  
  <div class="url-container">
    <div class="icon"></div> <%= text_field_tag :url %>
  </div>
  
  <span class="dimensions">468x60</span>
</div>

<div class="box small horizontal">
  <ol>
    <%= link_to params.merge(:boxes => (params[:boxes] || {}).merge({:small => 'a'})) do %>
      <li <%= "class=active" if @boxes[:small] == 'a' || @boxes[:small] == nil %> >a</li>
    <% end %>
    <%= link_to params.merge(:boxes => (params[:boxes] || {}).merge({:small => 'b'})) do %>
      <li <%= "class=active" if @boxes[:small] == 'b' %> >b</li>
    <% end %>
    <%= link_to params.merge(:boxes => (params[:boxes] || {}).merge({:small => 'c'})) do %>
      <li <%= "class=active" if @boxes[:small] == 'c' %> >c</li>
    <% end %>
  </ol>
  
  <div class="preview-container">
    <div class="preview"></div>
  </div>
  
  <div class="url-container">
    <div class="icon"></div> <%= text_field_tag :url %>
  </div>
  
  <div class="dimensions">234x60</div>
</div>
