<div class="links-box">
  <p>Utilize o gerador abaixo para criar um link com ID de referência pesonalizado, assim, você poderá identificar de quais peças publicitárias são originados seus cadastros. Consulte a tabela acima para visualizar esses dados.</p>

  <div class="links">
    <% @references.each do |ref| %>
      <div class="url-container">
        <span class="name"><%= ref.name %></span>
        <div class="icon"></div>
        <span class="text-field">
          <span class="left"></span><%= text_field_tag :url, reference_url(ref) %><span class="right"></span>
        </span>
      </div>
    <% end %>
  </div>

  <%= semantic_form_for UserReference.new, :url => user_panel_advertising_path do |f| %>
    <div class="form-fields">
      <%= f.label "Cria ID de referência" %>

      <span class="text-field">
        <span class="left"></span><%= text_field_tag :user_reference_name, "", :name => "user_reference[name]" %><span class="right"></span>
      </span>

      <span class="submit_blue">
        <span class="left"></span><%= submit_tag "Confirmar" %><span class="right"></span>
      </span>
    </div>
  <% end %>
</div>
