<% if (flash[:error]) %>
<p class="error"> <%= flash[:error] %> </p>
<% end %>

<%= form_for @news, :as => :news, :url => { :action => 'create' } do |f| %>
  Notícia resumida: <br/> <%= f.text_area :short %> <br/>
  Notícia completa: <br/> <%= f.text_area :full, :class => 'mceEditor' %> <br/>
  <%= submit_tag "Enviar", :id => 'send_news' %>
<% end %>

