<%= link_to "Lista de notícias", admin_news_index_path %><br/>
<%= link_to "Editar", {:action => 'edit', :id => @item.id} %><br/>
<%= link_to "Deletar", {:action => 'destroy', :id => @item.id}, :method => :delete %><br/>

<h1><%= @item.short %></h1>
<%= @item.full.html_safe %>
