<h2>Editar Arquivos</h2>

<table id="user_files" class="tablesorter">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Downloads</th>
      <th>User</th>
      <th>Reports</th>
      <th>Bloquear</th>
    </tr>
  </thead>
  <tbody>
    <% @files.each do |file| %>
      <tr class="<%= "blocked" if file.blocked? %>">
        <td><%= link_to file.alias, [:admin, file] %></td>
        <td><%= file.statistics.downloads %></td>
        <td><%= file.owner.name %>
        <td><%= file.reports.count %></td>
        <td>
          <% if file.blocked?%>
            <%= link_to "[+]", unblock_admin_user_file_path(file), :method => :post %>
          <% else %>
            <%= link_to "[x]", block_admin_user_file_path(file), :method => :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>