<div class="comment <%= cycle("even", "odd") -%>">
  <div class="header">
    <%= comment.created_at.strftime("%d/%m/%Y") %> |
    <% if comment.owner %>
      <%= comment.owner.name %>
      <% if comment.owner == current_user %>
      <span class="remove"><%= link_to "Remover", comment_path(comment, :file_id => comment.file), :method => :delete %></span>
      <% end %>
    <% else %>
      Anônimo
    <% end %>
  </div>
  <div class="rate-stars">
    <% if comment.rate > 0 %>
      <% (1..5).each do |i| %>
        <%= image_tag("search/icone-nota-" + (i <= comment.rate ? "on" : "off") + ".png", :class => "star") %>
      <% end %>
    <% end %>
  </div>

  <p><%= comment.message %></p>
</div>
