<div id="upload_forms">
  <div id="user_files_forms">
    <%= semantic_form_for @file, :html => {:multipart => true, :class => "files_form"} do |f| %>
      <%= f.inputs :class => :file_fields do %>
        <%= f.input :file %>
        <%= f.input :description, :input_html => { :title => "Digite uma descrição objetiva para seu arquivo.", :class => "clear-on-focus" } %>
        <% end %>
        
      <%= f.inputs :class => :public_field do %>
        <%= f.input :public, :as => :boolean, :default => true, :label => "Arquivo público (?)" %>
        <% end %>
        
      <%= f.buttons do %>
        <%= f.commit_button "Enviar" %>
      <% end %>
    <% end %>
  </div>

  <p class="more-files"><%= link_to "Enviar mais arquivos" %></p>
</div>
