<div id="upload_forms">
  <div id="user_files_forms">
    <%= semantic_form_for @file, :url => "http://69.64.50.217/uploads?X-Progress-ID=#{@file._id}", :html => {:multipart => true, :class => "files_form"} do |f| %>
      <%= f.inputs :class => :file_fields do %>
        <%= hidden_field_tag "X-Progress-ID", @file._id %>
        <%= hidden_field_tag :user_id, current_user._id %>

        <li class="file input required" id="user_file_file_input">
          <input type="file" name="user_file[file]">
        </li>

        <%=
          f.input :description, :input_html => {
            :title => "Digite uma descrição objetiva para seu arquivo.",
            :class => "clear-on-focus"
          }
        %>
      <% end %>

      <%= f.inputs :class => :public_field do %>
        <%= f.input :public, :as => :boolean, :default => true, :label => "Arquivo público (?)" %>
      <% end %>

      <%= f.actions do %>
        <%= f.action :submit, :as => :button, :label => "Enviar" %>
      <% end %>

      <div class="progress_info">
        <p class="filename"></p>
        <div class="progress_bar">
          <div class="uploaded">
          </div>
        </div>
        <p class="percentage">0%</p>
        <p class="uptime">Decorrido: <span class="data">00:00:00</span></p>
        <p class="eta">Restante: <span class="data">00:00:00</span></p>
        <p class="speed">Velocidade: <span class="data">0 Kb/s</span></p>
        <p class="data_amount"><span class="sent">0 kb</span> / <span class="total">0 kb</span></p>
      </div>
    <% end %>
  </div>

  <p class="more-files"><%= link_to "Enviar mais arquivos" %></p>
</div>
