<h2>Enviar arquivos</h2>

<div id="categorize-container">
  <p class="categorize-info">Preencha o(s) campo(s) abaixo com tags relacionadas ao(s) arquivo(s),
    separando-as por vírgula e selecione as categorias referentes ao seu conteúdo.</p>

  <%= form_tag :action => :update_categories do |f| %>
    <table id="categories-list">
      <thead>
        <th></th>
        <% Category.all.each_with_index do |category, i| %>
          <th class="<%= cycle "even", "odd" %>
                     <%= i == 0 ? "left" : "" %>
                     <%= i == Category.count - 1 ? "right" : "" %>">
            <p class="name"><%= category.name %></p>
            <%= check_box_tag "all", category._id %>
          </th>
        <% end %>
      </thead>

      <tbody>
        <% @files.each_with_index do |file, j| %>
          <tr>
            <td class="outside-field">
              <p class="filename">
              <%= truncate(file.filename, :ommission => "..." + file.filename[[-file.filename.length, -5].max..-1], :length => 32) %></p>
              <%= text_field_tag "user_files[#{file._id}][sentenced_tags]", {}, {
                    :title => "Ex.: zumbi, mortos-vivos, apocalipse, suspense",
                    :class => "clear-on-focus sentenced_tags"
                  }
               %>
            </td>
            <% Category.all.each_with_index do |c, i| %>
              <td class="<%= [cycle("even", "odd"),
                              (i == 0 ? "left" : nil),
                              (i == Category.count - 1 ? "right" : nil),
                              (j == @files.count - 1 ? "last" : nil)
                             ].compact.join(' ')
                          %>">
            
                <%= check_box_tag "user_files[#{file._id}][categories][]", c._id %>
              </td>
            <% end %>
            <% cycle("even", "odd") if Category.count.odd? %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div id="submit-wrapper">
      <button type="submit">
        Confirmar
      </button>
    </div>
  <% end %>
</div>
