<h2>Enviar arquivos</h2>
  
<div id="categorize-container">
  <p class="categorize-info">Preencha o(s) campo(s) a baixo com tags relacionadas ao(s) arquivo(s), separando-as por vírgula e selecione as categorias referentes ao seu conteúdo.</p>

  <ul id="categories-list">
    <% Category.all.each do |category| %>
    <li>
      <%= category.name %>
      <%= check_box_tag "user_file[category_ids][]", :value => category._id %>
    </li>
    <% end %>
  </ul>

  <%= semantic_form_for @file do |f| %>
    <%= f.inputs do %>
      <%= f.input :sentenced_tags, :label => "Tags", :input_html => { :title => "Ex.: zumbi, mortos-vivos, apocalipse, suspense", :class => "clear-on-focus" } %>
      <%= f.input :categories, :as => :check_boxes %>
    <% end %>

    <%= f.buttons do %>
      <%= f.commit_button "Salvar" %>
    <% end %>
  <% end %>
</div>    
