<h2>Enviar arquivos</h2>

<div id="categorize-container">
  <p class="categorize-info">Preencha o(s) campo(s) abaixo com tags relacionadas ao(s) arquivo(s),
    separando-as por vírgula e selecione as categorias referentes ao seu conteúdo.</p>

  <ol id="categories-list">
    <% Category.all.each do |category| %>
    <li>
      <p class="name"><%= category.name %></p>
      <%= check_box_tag "user_file[category_ids][]", category._id %>
    </li>
    <% end %>
  </ol>

  <%= semantic_form_for :files, :url => {:action => :update_categories} do |f| %>
    <% i = 0 %>
    <% @files.each do |file| %>
      <%= f.semantic_fields_for file._id.to_s do |fi| %>
        <%= fi.inputs do %>
          <p class="filename">
          <%= truncate(file.alias, :ommission => "..." + file.alias[-5..-1], :length => 32) %></p>
          <%= fi.input :sentenced_tags,
                       :label => "Tags",
                       :input_html => { :title => "Ex.: zumbi, mortos-vivos, apocalipse, suspense",
                                        :class => "clear-on-focus sentenced_tags" } %>
          <%= fi.input :categories, :as => :check_boxes, :collection => Category.all.collect { |c| [nil, c._id] } %>
        <% end %>
        <% i += 1 %>
      <% end %>
    <% end %>
    <%= f.buttons do %>
      <%= f.commit_button "Confirmar" %>
    <% end %>
  <% end %>
</div>
