<h2>Enviar arquivos</h2>

<div id="links-container">
  <p class="links-info">Seus arquivos estão prontos para serem compartilhados, escolha abaixo o meio de implementação. Recomendamos a utilização da ferramenta <%= link_to "shareBox" %>, desenvolvida para converter um maior número de downloads em seus arquivos. Para saber mais como essa opção funciona, acesse nosso <%= link_to "FAQ", faq_index_path %>.</p>

  <div id="link-type-container">
    <span class="link-type">Link</span>
    <span class="link-type">HTML</span>
    <span class="link-type">Fórum</span>
    <span class="link-type">shareBox</span>
  </div>

  <div id="link-type-buttons-container">
    <input value="type-link" type="radio" name="link-type-option" checked>
    <input value="type-html" type="radio" name="link-type-option">
    <input value="type-forum" type="radio" name="link-type-option">
    <input value="type-sharebox" type="radio" name="link-type-option">
  </div>


  <div id="link-boxes-container">
    <% @files.each do |file| %>
      <div class="link-box">
        <p class="filename">
          <%= truncate(file.filename, :omission => "..." + file.filename[[-file.filename.length, -5].max..-1], :length => 41) %>
        </p>
        <%= text_field_tag :link, "", :class => "link-field", :'url-text' => user_file_url(file), :value => user_file_url(file) %>
      </div>
    <% end %>
  </div>

  <div id="link-boxes-closing"></div>

  <%= link_to "Confirmar", user_panel_path(@user), :class => "confirmar" %>
</div>
