<h2>Enviar arquivos</h2>

<div id="links-container">
  <p class="links-info">Seus arquivos estão prontos para serem compartilhados, escolha abaixo o meio de implementação. Recomendamos a utilização da ferramenta <%= link_to "shareBox" %>, desenvolvida para converter um maior número de downloads em seus arquivos. Para saber mais como essa opção funciona, acesse nosso <%= link_to "FAQ", general_faq_path %>.</p>
  
  <div id="links-inner-container">
    <ul id="link-type-list">
      <li>
        <div class="type">
          Link
          <br/><input type="radio" name="types">
        </div>
      </li>
      <li>
        <div class="type">
          HTML
          <br/><input type="radio" name="types" checked>
        </div>
      </li>
      <li>
        <div class="type">
          Fórum
          <br/><input type="radio" name="types">
        </div>
      </li>
      <li>
        <div class="type">
          shareBox
          <br/><input type="radio" name="types">
        </div>
      </li>
    </ul>
    
    <div id="link-boxes">
      <div class="link-box">
        <p class="filename"><%= 
          l = @file.filename.length
          if l > 41
            @file.filename[0,32] + "..." + @file.filename[l-6, l-1]
          else
            @file.filename
          end
        %></p>
        <%= text_field_tag :link, "", :class => "link-field" %>
      </div>
    </div>
  </div>
    
  <%= submit_tag "Confirmar", :id => "confirmar" %>
</div>
