<div id="config-profile">
  
  <h5>Meu Perfil</h5>
  
  <div id="avatar">
    <% if @profile.avatar %>
      <%= image_tag @profile.avatar.get, :class => "avatar" %>
    <% else %>
      <%= image_tag "", :class => "avatar" %>
    <% end %>
    
    <%= link_to "Alterar Avatar" %>
  </div>
  
  <div id="configs">
    <p>Exibir dados pessoais</p>
    
    <%= form_tag update_user_path(@user) do |f| %>
      <%= f.input :show_gender, :as => :check_box, :title => "Sexo" %>
      <%= f.input :show_name, :as => :check_box, :title => "Nome" %>
      <%= f.input :show_age, :as => :check_box, :title => "Idade" %>
      <%= f.input :show_place, :as => :check_box, :title => "Localidade" %>
      <%= f.input :show_website, :as => :check_box, :title => "Website" %>
      <%= f.input :show_email, :as => :check_box, :title => "E-Mail" %>
      
      <%= f.input :description, :title => "Escreva aqui a descrição do seu perfil...", :class => "clear-on-focus" %>
    <% end %>
  </div>
  
  <p id="info-edit">Adicione e atualize seus dados pessoais na seção <%= link_to "Meus Dados" %></p>
  
  
</div>
