<% page "profile_data" %>
<div id="config-profile">

  <h2>Meu Perfil</h2>

  <div id="configs">
    <%= semantic_form_for @user, :html => { :multipart => true } do |u| %>
      <%= u.semantic_fields_for @user.profile do |f| %>

        <h3>Exibir dados pessoais</h3>

        <%= f.inputs do %>

          <div id="avatar">
            <%= image_tag(@user.profile.avatar.url || "", :class => "avatar") %>
              <%= f.input :avatar, :as => :file, :label => "Alterar Avatar" %>
          </div>

          <div class="left">
            <%= f.input :show_gender, :as => :boolean, :label => "Sexo" %>
            <%= f.input :show_name, :as => :boolean, :label => "Nome" %>
            <%= f.input :show_age, :as => :boolean, :label => "Idade" %>
          </div>

          <div class="right">
            <%= f.input :show_place, :as => :boolean, :label => "Localidade" %>
            <%= f.input :show_website, :as => :boolean, :label => "Website" %>
            <%= f.input :show_email, :as => :boolean, :label => "E-Mail" %>
          </div>

          <div id="info-edit">
            <span>Adicione e atualize seus dados <br/> pessoais na seção <%= link_to "Meus Dados" %></span>
          </div>

          <div class="bottom">
            <%= f.input :description, :as => :text, :input_html => { :placeholder => "Escreva aqui a descrição do seu perfil..." } %>
          </div>

        <% end %>

      <% end %>

      <%= u.actions do %>
        <span class="button blue">
          <span class="left"></span>
            <button type="submit" name="button">Salvar</button>
          <span class="right"></span>
        </span>
      <% end %>

    <% end %>
  </div>
</div>
