<% page "main" %>
<% tab "main" %>
<div id="tv">
  <%= render :partial => "tv" %>
</div>

<%= link_to new_user_registration_path, :id => "signup-button" do %>
Registre-se agora<br/><span>e comece a lucrar!</span>
<% end %>

<div id="news">
  <p class="title">Últimas novidades</p>
  <div class="body">
    <% if @news %>
      <%= @news.short.html_safe %>
      <%= link_to "Ler Mais...", news_path(@news), :class => "more" %>
    <% else %>
      <p>Bem vindo ao smShare, navegue em nosso site e conheça esse novo
        serviço de compartilhamento que lhe permite ganhar
        com seus downloads</p>
    <% end %>
  </div>
</div>

<div id="search" class="container">
  <%= render :partial => "layouts/search" %>
</div>
