<ul class="actions_menu">
  <li class="create">
    <%= link_to "", "#", :class => "icon" %>
    <%= link_to "Criar", "#" %>
  </li>
  <li class="separator"></li>
  <li class="link">
    <%= link_to "", "#", :class => "icon off need-files" %>
    <%= link_to "Link", "#" %>
  </li>
  <li class="separator"></li>
  <li class="move">
    <%= link_to "", "#", :class => "icon off need-files" %>
    <%= link_to "Mover", "#" %>
  </li>
  <li class="destroy">
    <%= form_tag user_panel_path, :method => :delete do %>
      <fieldset class="hidden_file_list">
        <% @resources.each do |r| %>
          <%= check_box_tag "files[]", r._id, false %>
        <% end %>
      </fieldset>
      <%= submit_tag "", :class => "icon off need-files" %>
      <%= submit_tag "Remover" %>
    <% end %>
  </li>
  <li class="rename">
    <%= link_to "", "#", :class => "icon off need-files" %>
    <%= link_to "Renomear", "#" %>
  </li>
  <li class="separator"></li>
  <li class="compress">
    <%= link_to "", "#", :class => "icon off need-files" %>
    <%= link_to "Compactar", "#" %>
  </li>
  <li class="decompress">
    <%= form_tag :action => "decompress" do %>
      <fieldset class="hidden_file_list">
        <% @resources.each do |r| %>
          <%= check_box_tag "files[]", r._id, false %>
        <% end %>
      </fieldset>
      <%= submit_tag "", :class => "icon off need-files" %>
      <%= submit_tag "Descompactar" %>
    <% end %>
  </li>
  <li class="separator"></li>
  <li class="properties">
    <%= link_to "", "#", :class => "icon off need-files" %>
    <%= link_to "Propriedades", "#" %>
  </li>
</ul>
