<ul class="actions_menu">
  <%= toolbar_button "Criar", "create" %>
  <li class="separator"></li>
  <%= toolbar_button "Link", "links", "off need-files" %>
  <li class="separator"></li>
  <%= toolbar_button "Mover", "move", "off need-files" %>
  <%= toolbar_button "Remover", "remove", "off need-files" %>
  <%= toolbar_button "Renomear", "rename", "off need-files" %>
  <li class="separator"></li>
  <%= toolbar_button "Compactar", "compress", "off need-files" %>
  <%= toolbar_button "Descompactar", "decompress", "off need-files" %>
  <li class="separator"></li>
  <%= toolbar_button "Propriedades", "properties", "off need-files" %>
</ul>
