<ul class="actions_menu">
  <li class="create">
    <%= link_to image_tag("user_panel/botoes/criar_on.png"), "#" %>
    <%= link_to "Criar", "#" %>
  </li>
  <li class="separator"></li>
    <li class="move">
    <%= link_to image_tag("user_panel/botoes/mover_on.png"), "#" %>
    <%= link_to "Mover", "#" %>
  </li>  
  <li class="destroy">
    <%= image_submit_tag "user_panel/botoes/remover_on.png" %>
    <%= submit_tag "Remover" %>
  </li>
</ul>