<%= semantic_form_for :user_file, :url => move_user_panel_path, :html => { :id => "move", :class => "need-files" } do |f| %>
  <%= f.inputs :class => :hidden_file_list do %>
    <%= f.input :files, :as => :check_boxes, :collection => @resources.collect { |r| [r._id, r._id] } %>
  <% end %>

  <%= f.inputs do %>
    <span class="styled_select text_field_small">
      <label for="user_file_folder">Destino:</label>
      <span class="select_container">
        <span class="left"></span>
        <select id="user_file_folder">
          <% folders_to_move.each do |folder, id| %>
            <option value="<%= id %>"><%= folder %></option>
          <% end %>
        </select>
        <span class="right"></span>
      </span>
    </span>
  <% end %>

  <fieldset class="actions">
    <button type="submit">Confirmar</button>
  </fieldset>

<% end %>
