<% page "customize_tools" %>
<div id="customize-container">

  <h2>Caixas de Download</h2>
  <p>A forma mais comum e eficaz de compartilhar seus arquivos hospedados no smShare é através das Caixas de Download, elas permitem que os usuários façam download sem sair de seu site.</p>

  <div id="top">
    <div id="view">
      <h3>Visualização</h3>
      <div id="download_box">
        <div class="box-header">
          <span class="header-glass"></span>
          <p class="filename"><em>Arquivo:</em> Nome do arquivo aqui</p>
          <p class="filesize"><em>10MB</em></p>
          <span class="header-bottom"></span>
        </div>

        <p class="call-to-action">Para baixar o arquivo, envie um SMS com a palavra</p>
        <p class="sms"><em>SMSHARE</em> para <em>49094<span class="star">*</span></em></p>
        <p class="price">*custo de R$ 0,86 + impostos</p>

        <div class="code_area">
          <%= text_field_tag :code, "", :title => "Digite aqui a senha que recebeu", :class => "code_field clear-on-focus"%>
          <%= submit_tag "Download", :class => "submit" %>
        </div>

        <%= link_to image_tag("download_box/logo.png"), root_url, :class => :logo %>
        <%= link_to "", :class => :have_one do %>
          Tenha um desses você também »</span>
        <% end %>
      </div>
      <li><a id="generate-code">Gerar código de inserção</a></li>
    </div>

    <div id="style-list">
      <h3>Lista de modelos</h3>
      <div class="style-list-container">
        <% i = 0 %>
        <% [@default_styles, @user_styles].flatten.each do |item| %>
          <a class="style-list-item <%= item._id == @user_default_style._id ? "selected default" : "" %> id<%= item._id %>">
            <div class="thumbnail index<%= i %>">
              <div class="title"><span class="glass"></span>------<span class="right">--</span></div>
              <div class="top">---- ---- ---- ----</div>
              <div class="middle">==== <span>==</span> ====</div>
              <div class="input"><div class="thumb-button"></div></div>
              <div class="style"><%= item.to_json %></div>
            </div>
            <%= item.name %>

            <% if item._id == @user_default_style._id %>
              <%= image_tag "user_panel/default_marker.png" %>
            <% end %>
          </a>
          <% i += 1 %>
        <% end %>
        <span class="style"><%= i %></span>
      </div>
      <%= form_for :style, :url => {:controller => :box_styles, :action => :set_default} do |f| %>
        <%= f.hidden_field :selected_style %>
        <span class="button blue">
          <span class="left"></span><%= f.submit "Tornar padrão" %><span class="right"></span>
        </span>
      <% end %>
    </div>
  </div>

  <div id="code-area" class="text_field">
    <span class="left"></span><%= text_field_tag :code, "", :disabled => "1" %><span class="right"></span>
  </div>

  <div id="color-picker"></div>

  <div id="bottom">
    <div id="style-customize">
      <h3>Personalize o modelo</h3>
      <%= form_for :box_style, :url => {:controller => :box_styles, :action => :create} do |f| %>
        <ol>
          <li>Fundo da caixa: <div></div><%= f.text_field :box_background, :value => default_box_style[:box_background] %></li>
          <li>Contorno da caixa: <div></div> <%= f.text_field :box_border, :value => default_box_style[:box_border] %></li>
          <li>Fundo do cabeçalho: <div></div> <%= f.text_field :header_background, :value => default_box_style[:header_background] %></li>
          <li>Texto do cabeçalho: <div></div> <%= f.text_field :header_text, :value => default_box_style[:header_text] %></li>
          <li>Texto superior: <div></div> <%= f.text_field :upper_text, :value => default_box_style[:upper_text] %></li>
          <li>Texto do número: <div></div> <%= f.text_field :number_text, :value => default_box_style[:number_text] %></li>
          <li>Texto "para": <div></div> <%= f.text_field :para_text, :value => default_box_style[:para_text] %></li>
          <li>Texto do custo: <div></div> <%= f.text_field :cost_text, :value => default_box_style[:cost_text] %></li>
          <li>Fundo do formulário: <div></div> <%= f.text_field :form_background, :value => default_box_style[:form_background] %></li>
          <li>Contorno do formulário: <div></div> <%= f.text_field :form_border, :value => default_box_style[:form_border] %></li>
          <li>Texto do formulário: <div></div> <%= f.text_field :form_text, :value => default_box_style[:form_text] %></li>
          <li>Fundo do botão: <div></div> <%= f.text_field :button_background, :value => default_box_style[:button_background] %></li>
          <li>Texto no botão: <div></div> <%= f.text_field :button_text, :value => default_box_style[:button_text] %></li>
          <li>Texto inferior: <div></div> <%= f.text_field :bottom_text, :value => default_box_style[:bottom_text] %></li>
        </ol>

        <div class="thumbnail">
          <div class="title"><span class="glass"></span>------<span class="right">--</span></div>
          <div class="top">---- ---- ---- ----</div>
          <div class="middle">==== <span>==</span> ====</div>
          <div class="input"><div class="thumb-button"></div></div>
        </div>

        <p>Insira abaixo o nome do modelo para adicioná-lo a Lista de Modelos.</p>

        <%= f.text_field :name, :title => "Dê um nome para o modelo...", :class => "name clear-on-focus" %>
        <span class="button orange">
          <span class="left"></span><%= f.submit "Salvar" %><span class="right"></span>
        </span>
        <p>Após salvar seu modelo, se desejar utilizá-lo ou torná-lo padrão da sua conta, utilize o botão "Escolher Modelo" logo abaixo da Lista de Modelos.</p>
      <% end %>
    </div>

    <div id="background-list">
      <h3>Lista de fundos</h3>
      <div class="bg-list-container">
        <% i = 0 %>
        <% [@default_backgrounds, @user_backgrounds].flatten.each do |item| %>
          <a class="bg-list-item <%= item._id == @user_default_background._id ? "selected default" : "" %> id<%= item._id %>">
            <div class="img-thumbnail index<%= i %>"><span class="hidden"><%= item.image.url %></span></div>

            <%= item.name %>

            <% if item._id == @user_default_background._id %>
              <%= image_tag "user_panel/default_marker.png" %>
            <% end %>
          </a>
          <% i += 1 %>
        <% end %>
        <span class="hidden count"><%= i %></span>
        <span class="hidden default"><%= @user_default_background.image.url %></span>
      </div>
      <%= form_for :bg, :url => {:controller => :box_images, :action => :set_default} do |f| %>
        <%= f.hidden_field :selected_bg %>
        <span class="button blue">
          <span class="left"></span><%= f.submit "Tornar padrão" %><span class="right"></span>
        </span>
      <% end %>
    </div>

    <div id="background-form">
      <h3>Envie seu próprio fundo</h3>
      <%= form_for :background,
                   :html => { :multipart => true },
                   :url => { :controller => :box_images, :action => :create } do |f| %>
        <%= f.file_field :image %>
        <%= f.text_field :name %>
        <span class="button orange">
          <span class="left"></span><%= f.submit "Confirmar" %><span class="right"></span>
        </span>
      <% end %>
    </div>
  </div>
</div>












