<h2>Gerenciar Arquivos</h2>

<%= form_tag user_panel_path, :method => :delete do %>
  <%= render :partial => "actions_menu" %>
  
  <div id="form_placeholder"></div>
  
  <table class="file_list">
    <thead>
      <tr class="titles">
        <td class="select"><%= check_box_tag :all_files, 1, false %></td>
        <td class="name">Nome</td>
        <td class="size">Tamanho</td>
        <td class="created_at">Enviado</td>
        <td class="downloads">Downloads</td>
        <td class="revenue">Ganhos</td>
      </tr>
      <tr class="order">
        <td class="select"></td>
        <td class="name"></td>
        <td class="size"></td>
        <td class="created_at"></td>
        <td class="downloads"></td>
        <td class="revenue"></td>
      </tr>
    </thead>
    <tfoot>
      <tr class="order">
        <td class="select"></td>
        <td class="name"></td>
        <td class="size"></td>
        <td class="created_at"></td>
        <td class="downloads"></td>
        <td class="revenue"></td>
      </tr>
      <tr class="pagination">
        <td colspan="6"><%= will_paginate @resources %></td>
      </tr>
    </tfoot>
    <tbody>
      <% if @folder.parent %>
        <tr class="folder">
          <td class="select"><%= check_box_tag "files[]", @folder.parent._id, false, :class => "select_file", :disabled => true %></td>
          <td class="name"><%= link_to "..", manage_user_panel_path(:folder_id => @folder.parent) %></td>
          <td class="size"></td>
          <td class="created_at"></td>
          <td class="downloads"></td>
          <td class="revenue"></td>
        </tr>
      <% end %>
      <% @resources.each do |f| %>
        <% if f.instance_of? Folder %>
          <tr class="folder">
            <td class="select"><%= check_box_tag "files[]", f._id, false, :class => "select_file" %></td>
            <td class="name"><%= link_to f.name, manage_user_panel_path(:folder_id => f) %></td>
            <td class="size"></td>
            <td class="created_at"></td>
            <td class="downloads"></td>
            <td class="revenue"></td>
          </tr>
        <% elsif f.instance_of? UserFile %>
          <tr class="file">
            <td class="select"><%= check_box_tag "files[]", f._id, false, :class => "select_file" %></td>
            <td class="name"><%= f.filename %></td>
            <td class="size"><%= filesize_for_stat(f.filesize)%></td>
            <td class="created_at"><%= f.created_at.strftime("%d/%m/%Y") %></td>
            <td class="downloads"><%= f.statistics.downloads %></td>
            <td class="revenue"><%= revenue_for_stat(f.statistics.revenue) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<div id="actions_forms">
  <%= render :partial => "create_folder" %>
  <%= render :partial => "move" %>
</div>