<div id="main_statistics">
  <div id="storage">
    <p class="title">Total Armazenado</p>
    <div class="stats_box storage">
      <p class="stat"><%= filesize_for_stat(current_user.statistics.files_size || 0) %></p>
      <p class="stat_observation">no total de <%= current_user.statistics.files %> arquivos</p>
    </div>
  </div>
  <div id="bandwidth">
    <p class="title">Banda Consumida</p>
    <div class="stats_box bandwidth">
      <p class="stat"><%= filesize_for_stat(current_user.statistics.bandwidth || 0) %></p>
      <p class="stat_observation">por todos os arquivos</p>
    </div>
  </div>
  <div id="downloads">
    <p class="title">Total de Downloads</p>
    <div class="stats_box downloads">
      <p class="stat"><%= number_with_delimiter(current_user.statistics.downloads || 0) %></p>
      <p class="stat_observation">desde <%= I18n.l current_user.created_at, :format => ("%B de %Y") %></p>
    </div>
  </div>
  <div id="revenue">
    <p class="title">Lucro Total</p>
    <div class="stats_box revenue">
      <p class="stat"><%= revenue_for_stat(current_user.statistics.total_revenue || 0) %></p>
      <p class="stat_observation">incluindo 2º nível</p>
    </div>
  </div>
</div>

<div class="upload index">
  <h3>Envie seus arquivos!</h3>

  <%= render :partial => '/user_files/upload_form' %>

</div>

<!-- DISABLED
<div id="more_upload">
  <h3>Outras formas de enviar arquivos!</h3>
  <%= link_to image_tag("user_panel/remoto.png"), new_remote_upload_path, :class => "remote_upload image" %>
  <%= link_to "Upload Remoto", new_remote_upload_path, :class => "remote_upload link" %>
  <!-- REDUNDANT
  <%= link_to image_tag("user_panel/ftp.png"), nil, :class => "ftp image" %>
  <%= link_to "Upload por FTP", nil, :class => "ftp link" %>
  -->
</div>
-->

<div id="report">
  <h3>Relatório resumido</h3>
  <table>
    <thead>
      <tr>
        <td>Período</td>
        <td>Downloads</td>
        <td>2º Nivel</td>
        <td>Ganhos</td>
      </tr>
    </thead>
    <tbody>
      <tr class="today">
        <td>Hoje:</td>
        <td><%= @today_downloads %></td>
        <td><%= @today_referred_downloads %></td>
        <td class="revenue"><%= number_to_currency(@today_total_revenue) %></td>
      </tr>
      <tr>
        <td>Ontem:</td>
        <td><%= @yesterday_downloads %></td>
        <td><%= @yesterday_referred_downloads %></td>
        <td class="revenue"><%= number_to_currency(@yesterday_total_revenue) %></td>
      </tr>
      <tr>
        <td>Este mês:</td>
        <td><%= @this_month_downloads %></td>
        <td><%= @this_month_referred_downloads %></td>
        <td class="revenue"><%= number_to_currency(@this_month_total_revenue) %></td>
      </tr>
      <tr>
        <td>Mês passado:</td>
        <td><%= @last_month_downloads %></td>
        <td><%= @last_month_referred_downloads %></td>
        <td class="revenue"><%= number_to_currency(@last_month_total_revenue) %></td>
      </tr>
    </tbody>
  </table>
</div>

<div id="most_downloaded">
  <h3>Arquivos mais baixados</h3>
  <table>
    <tbody>
      <% @most_downloaded_files.each do |file| %>
        <tr>
          <td class="filename">
            <%= link_to truncate(file.filename, :length => 41, :ommission => "..." + file.filename[[-file.filename.length, -4].max..-1]), file %>
          </td>
          <td class="count"><%= file.statistics.downloads %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="graph">
  <h3>Estatísticas dos últimos 7 dias</h3>
  <%= high_chart("last_7_days_graph", current_user.daily_statistics.last_7_days_graph) %>
</div>
