<div id="main_statistics">
  <div id="storage">
    <p class="title">Total Armazenado</span>
    <div class="stats_box storage">
      <p class="stat"><%= filesize_for_stat(current_user.statistics.files_size) %></p>
      <p class="stat_observation">no total de <%= current_user.statistics.files %> arquivos</p>
    </div>
  </div>
  <div id="bandwidth">
    <p class="title">Banda Consumida</span>
    <div class="stats_box bandwidth">
      <p class="stat"><%= filesize_for_stat(current_user.statistics.bandwidth) %></p>
      <p class="stat_observation">por todos os arquivos</p>
    </div>
  </div>
  <div id="downloads">
    <p class="title">Total de Downlaods</span>
    <div class="stats_box downlaods">
      <p class="stat"><%= number_with_delimiter(current_user.statistics.downloads) %></p>
      <p class="stat_observation">desde <%= current_user.created_at.strftime("%B de %Y") %></p>
    </div>
  </div>
  <div id="revenue">
    <p class="title">Lucro Total</span>
    <div class="stats_box revenue">
      <p class="stat"><%= revenue_for_stat(current_user.statistics.revenue) %></p>
      <p class="stat_observation">incluindo 2º nível</p>
    </div>
  </div>  
</div>

<div class="upload index">
  <h3>Envie seus arquivos!</h3>
  
  <%= semantic_form_for @file, :html => {:multipart => true} do |f| %>
    <%= f.inputs :id => :file_fields do %>
      <%= f.input :file %>
      <%= f.input :description, :input_html => { :title => "Digite uma descrição objetiva para seu arquivo.", :class => "clear-on-focus" } %>
      
      <p id="more-files"><%= link_to "Enviar mais arquivos" %></p>
    <% end %>

    <%= f.inputs :id => :public_field do %>
      <%= f.input :public, :as => :boolean, :default => true, :label => "Arquivo público (?)" %>
    <% end %>

    <%= f.buttons do %>
      <%= f.commit_button "Enviar" %>
    <% end %>
  <% end %>
</div>

<div id="more_upload">
  <h3>Outras formas de enviar arquivos!</h3>
  <%= link_to image_tag("user_panel/remoto.png"), nil, :class => "remote_upload image" %>
  <%= link_to "Upload Remoto", nil, :class => "remote_upload link" %>
  <%= link_to image_tag("user_panel/ftp.png"), nil, :class => "ftp image" %>
  <%= link_to "Upload por FTP", nil, :class => "ftp link" %>
</div>

<div id="report">
  <h3>Relátorio resumido</h3>
  <table>
    <thead>
      <tr>
        <td>Período</td>
        <td>Downloads</td>
        <td>2º Nivel</td>
        <td>Ganhos</td>
      </tr>
    </thead>
    <tbody>
      <tr class="today">
        <td>Hoje:</td>
        <td><%= current_user.daily_statistics.today_downloads %></td>
        <td><%= current_user.daily_statistics.today_referred_downloads %></td>
        <td class="revenue"><%= number_to_currency(current_user.daily_statistics.today_revenue) %></td>
      </tr>
      <tr>
        <td>Ontem:</td>
        <td><%= current_user.daily_statistics.yesterday_downloads %></td>
        <td><%= current_user.daily_statistics.yesterday_referred_downloads %></td>
        <td class="revenue"><%= number_to_currency(current_user.daily_statistics.yesterday_revenue) %></td>
      </tr>
      <tr>
        <td>Este mês:</td>
        <td><%= current_user.daily_statistics.this_month_downloads %></td>
        <td><%= current_user.daily_statistics.this_month_referred_downloads %></td>
        <td class="revenue"><%= number_to_currency(current_user.daily_statistics.this_month_revenue) %></td>
      </tr>
      <tr>
        <td>Mês passado:</td>
        <td><%= current_user.daily_statistics.last_month_downloads %></td>
        <td><%= current_user.daily_statistics.last_month_referred_downloads %></td>
        <td class="revenue"><%= number_to_currency(current_user.daily_statistics.last_month_revenue) %></td>
      </tr>
    </tbody>      
  </table>
</div>

<div id="most_downloaded">
  <h3>Arquivos mais baixados</h3>
  <table>
    <tbody>
      <% @most_downloaded_files.each do |file| %>
        <tr>
          <td class="filename"><%= link_to file.filename, file %></td>
          <td class="count"><%= file.statistics.downloads %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="graph">
  <h3>Estatísticas dos últimos 7 dias</h3>
  <%= image_tag current_user.daily_statistics.last_7_days_graph %>
</div>