<% page "faq" %>
<% tab "about" %>
<div id="faq-container">
  <div id="faq-header">
    <%= image_tag "faq/faq.png", :id => "faq-image" %>
    <p>
    Nesta seção você encontrará as respostas para as perguntas mais frequentes sobre nossos serviços e sobre o funcionamento de nosso sistema. As questões levantadas abaixo são bastante específicas, por isso, se deseja encontrar um levantamento mais amplo de como funcionam nossos serviços, acesse nosso <%= link_to "Guia Geral", guide_index_path %>.
    </p>      
  </div>
  
  <ul id="faq-tab-bar">
    <% [{:en => "general", :pt => "Geral"},
        {:en => "uploading", :pt => "Enviando"},
        {:en => "downloading", :pt => "Baixando"},
        {:en => "panel", :pt => "Painel do Usuário"},
        {:en => "finances", :pt => "Financeiro"}].each do |tab| %>
      <a href="<%= faq_index_path(:page => tab[:en]) %>">
        <li class="tab <%= @page == tab[:en] ? "active" : "" %>">
          <%= tab[:pt] %>
        </li>
      </a>
    <% end %>
  
  </ul>
  
  <%= render :partial => @page %>
  
</div>


<div id="search" class="container">
  <%= render :partial => "layouts/search" %>
</div>
