<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= title_tag "smShare - Serviço smsharing" %>
  <%= stylesheet_link_tag "formtastic", "formtastic_changes", "application", "search", "firefox", stylesheet_for_controller %>
  <%= javascript_include_tag "modernizr", "jquery", "rails", "application", javascript_for_controller %>
  <%= include_tiny_mce_if_needed %>
  <%= csrf_meta_tag %>
  <link rel="search" type="application/opensearchdescription+xml" title="SMSearch" href="<%= opensearch_search_index_url :format => :xml %>">
  <script src="http://localhost:3000/caixa_download/template" type="text/javascript"></script>
</head>
<body>

<div id="header" class="container">
  <%= link_to image_tag("layouts/logos/smshare.png"), root_path %>
  <%= render :partial => "layouts/login_bar" %>
  <%= render :partial => "layouts/menus/header" %>
  <div id="dove"></div>
</div>

<div id="main-container" class="container">
  <p class="notifications notice"><%= notice %></p>
  <p class="notifications alert"><%= alert %></p>

  <%= yield %>
</div>

<div id="footer">
  <%= render :partial => "layouts/footer" %>
</div>

</body>
</html>
