<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= title_tag "smShare - Serviço smsharing" %>
  <%= stylesheet_link_tag "formtastic", "formtastic_changes", "application", "user_panel", stylesheet_for_controller %>
  <%= javascript_include_tag "jquery", "rails", "highcharts", "application", "user_panel", javascript_for_controller %>
  <%= csrf_meta_tag %>
</head>
<body>
  
<div id="header" class="container">
  <%= link_to image_tag("layouts/logos/smshare_pequeno.png"), root_path %>
  <%= render :partial => "layouts/login_bar" %>
</div>

<div id="main-container" class="container">
  <p class="notifications notice"><%= notice %></p>
  <p class="notifications alert"><%= alert %></p>
  
  <%= render :partial => "layouts/menus/sidebar" %>
  
  <div id="user_panel-container">
    <%= yield %>
  </div> 
</div>

<div id="footer">
  <%= render :partial => "layouts/footer" %>
</div>

</body>
</html>
